<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.gz.hydrology.mapper.write.CacheRainfallTotalDao" >
	<resultMap id="BaseResultMap" type="gov.gz.hydrology.entity.read.Rainfall" >
		<id column="stcd" property="stcd" jdbcType="VARCHAR" />
        <result column="date" property="date"/>
        <result column="rainfall" property="rainfall"/>
	</resultMap>

    <!-- 批量设备数据 -->
    <insert id="insertBatch" parameterType="java.util.List">
        insert into cache_rainfall_total
        (stcd,date,rainfall)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.stcd},#{item.date},#{item.rainfall})
        </foreach>
    </insert>

    <delete id="deleteByStcd" parameterType="java.lang.String">
        delete from cache_rainfall_total where stcd = #{stcd}
    </delete>

    <select id="selectByStcd" resultMap="BaseResultMap">
        select *
        from cache_rainfall_total
        where stcd = #{stcd}
        order by date asc
    </select>
</mapper>