<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.gz.hydrology.mapper.write.ModelStationDao" >
	<resultMap id="BaseResultMap" type="gov.gz.hydrology.entity.write.ModelStation" >
		<id column="id" property="id"/>
		<result column="model_id" property="modelId"/>
		<result column="stcd" property="stcd"/>
		<result column="ke" property="ke"/>
		<result column="xe" property="xe"/>
		<result column="model_cl" property="modelCl"/>
		<result column="plan_cl" property="planCl"/>
		<result column="model_hl" property="modelHl"/>
		<result column="plan_hl" property="planHl"/>
		<result column="fa_stcd" property="faStcd"/>
	</resultMap>
	<select id="selectByModel" resultType="java.util.Map">
		select
			ms.*,
			ms.plan_cl as PLAN_CL_ID,
			ms.plan_hl as PLAN_HL_ID,
			(select s.stname from station s where ms.stcd = s.stcd and s.type = '基本站') as STNAME,
			(select p.name from [plan] p where ms.plan_cl = p.id) as PLAN_CL_NAME,
			(select p.name from [plan] p where ms.plan_hl = p.id) as PLAN_HL_NAME
		from model_station ms
		where 1=1
		and ms.model_id = #{modelId}
		order by ms.id asc
	</select>
	<delete id="deleteByModel" parameterType="java.lang.Integer">
        delete from model_station where model_id = #{modelId}
    </delete>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into model_station
		(model_id, stcd, ke, xe, model_cl, plan_cl, model_hl, plan_hl, fa_stcd)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.modelId},#{item.stcd},#{item.ke},#{item.xe},#{item.modelCl},#{item.planCl},#{item.modelHl},#{item.planHl},#{item.faStcd})
		</foreach>
	</insert>
</mapper>