<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.gz.hydrology.mapper.write.PlanDao" >
	<resultMap id="BaseResultMap" type="gov.gz.hydrology.entity.write.Plan" >
		<id column="stcd" property="stcd" jdbcType="VARCHAR" />
		<result column="tm" property="tm"/>
		<result column="z" property="z"/>
		<result column="type" property="type" jdbcType="VARCHAR" />
        <result column="stname" property="stname" jdbcType="VARCHAR" />
		<!--<collection property="station" ofType="gov.gz.hydrology.entity.write.Station" column="stcd">-->
			<!--<id column="stcd" property="stcd" jdbcType="VARCHAR" />-->
			<!--<result column="type" property="type" jdbcType="VARCHAR" />-->
			<!--<result column="stname" property="stname" jdbcType="VARCHAR" />-->
			<!--<result column="dis" property="dis" jdbcType="VARCHAR" />-->
		<!--</collection>-->
	</resultMap>
	<select id="selectWarning" resultMap="BaseResultMap">
		select top 10 w.*, s.stname as stname from warning w
		left join station s on w.stcd = s.stcd
		where 1=1
		<if test="stcd != null and stcd != ''" >
			and w.stcd = #{stcd}
		</if>
		order by w.tm desc
	</select>
    <select id="selectNotice" resultType="java.lang.Integer">
        select count(1) from warning w
        left join station s on w.stcd = s.stcd
        where 1=1
        <if test="stcd != null and stcd != ''" >
            and w.stcd = #{stcd}
        </if>
    </select>
	<insert id="insertBatch" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index">
			if not exists (select 1 from warning where stcd = #{item.stcd} and tm = #{item.tm} and type = #{item.type})
				insert into warning
				(stcd,tm,z,type)
				values
				(#{item.stcd},#{item.tm},#{item.z},#{item.type})
		</foreach>
	</insert>
</mapper>