<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.gz.hydrology.mapper.write.PlanStationDao" >
	<resultMap id="BaseResultMap" type="gov.gz.hydrology.entity.write.PlanStation" >
		<result column="plan_id" property="planId"/>
		<result column="po_stcd" property="poStcd"/>
		<result column="ke" property="ke"/>
		<result column="xe" property="xe"/>
	</resultMap>
	<select id="selectByPlan" resultMap="BaseResultMap">
		select ps.* from plan_station ps
-- 		left join station s on ps.stcd = s.stcd
		where 1=1
		<if test="planId != null and planId != ''" >
			and ps.plan_id = #{planId}
		</if>
	</select>
	<delete id="deleteByPlan" parameterType="java.lang.Integer">
        delete from plan_station where plan_id = #{planId}
    </delete>
	<insert id="insertBatch" parameterType="java.util.List">
		insert into plan_station
		(plan_id, po_stcd, ke, xe)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.planId},#{item.poStcd},#{item.ke},#{item.xe})
		</foreach>
	</insert>
</mapper>