<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.gz.hydrology.mapper.write.PlanDao" >
	<resultMap id="BaseResultMap" type="gov.gz.hydrology.entity.write.Plan" >
		<id column="id" property="id"/>
		<result column="stcd" property="stcd"/>
		<result column="name" property="name"/>
		<result column="model" property="model"/>
        <result column="WU0" property="WU0"/>
        <result column="WL0" property="WL0"/>
        <result column="WD0" property="WD0"/>
        <result column="WUM" property="WUM"/>
        <result column="WLM" property="WLM"/>
        <result column="WDM" property="WDM"/>
        <result column="B" property="b"/>
        <result column="K" property="k"/>
        <result column="C" property="c"/>
        <result column="SM" property="SM"/>
        <result column="EX" property="EX"/>
        <result column="KSS" property="KSS"/>
        <result column="KG" property="KG"/>
        <result column="IM" property="IM"/>
        <result column="CS" property="CS"/>
        <result column="CI" property="CI"/>
        <result column="CG" property="CG"/>
        <result column="L" property="l"/>
        <result column="T" property="t"/>
        <result column="F" property="f"/>
        <result column="S0" property="s0"/>
        <result column="FR0" property="FR0"/>
        <result column="QRs0" property="QRs0"/>
        <result column="QRss0" property="QRss0"/>
        <result column="QRg0" property="QRg0"/>
        <result column="user_id" property="userId"/>
        <result column="create_time" property="createTime"/>
        <result column="stname" property="stname"/>
        <result column="user_name" property="userName"/>
	</resultMap>
    <select id="selectById" resultMap="BaseResultMap">
        select p.* from [plan] p
        where p.id = #{id}
    </select>
	<select id="selectPlan" resultMap="BaseResultMap">
		select p.*, s.stname, u.user_name from [plan] p
        inner join station s on p.stcd = s.stcd
        inner join [user] u on p.user_id = u.user_id
		where s.type = '基本站'
		<if test="stcd != null and stcd != ''" >
			and p.stcd = #{stcd}
		</if>
		order by p.create_time desc
	</select>
    <select id="selectChildPlan" resultMap="BaseResultMap">
        select p.*
        from [plan] p
        inner join plan_station ps on ps.child_plan_id = p.id
        where ps.plan_id = #{planId} and p.stcd = #{stcd}
    </select>
	<insert id="insertBatch" parameterType="java.util.List">
        insert into [plan]
        (stcd, name, model, WU0, WL0, WD0, WUM, WLM, WDM, B, K, C, SM, EX, KSS, KG, IM, CI, CG, L, T, F, S0, FR0, QRs0, QRss0, QRg0, CS, user_id, create_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.stcd},#{item.name},#{item.model},#{item.WU0},#{item.WL0},#{item.WD0},#{item.WUM},#{item.WLM},#{item.WDM},#{item.b},#{item.k},#{item.c},#{item.SM},#{item.EX},#{item.KSS},#{item.KG},#{item.IM},#{item.CI},#{item.CG},#{item.l},#{item.t},#{item.f},#{item.s0},#{item.FR0},#{item.QRs0},#{item.QRss0},#{item.QRg0},#{item.CS},#{item.user_id},#{item.create_time})
        </foreach>
	</insert>
    <insert id="insertSelective" parameterType="gov.gz.hydrology.entity.write.Plan" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into [plan]
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="stcd != null" >
                stcd,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="model != null" >
                model,
            </if>
            <if test="WU0 != null" >
                WU0,
            </if>
            <if test="WL0 != null" >
                WL0,
            </if>
            <if test="WD0 != null" >
                WD0,
            </if>
            <if test="WUM != null" >
                WUM,
            </if>
            <if test="WLM != null" >
                WLM,
            </if>
            <if test="WDM != null" >
                WDM,
            </if>
            <if test="b != null" >
                B,
            </if>
            <if test="k != null" >
                K,
            </if>
            <if test="c != null" >
                C,
            </if>
            <if test="SM != null" >
                SM,
            </if>
            <if test="EX != null" >
                EX,
            </if>
            <if test="KSS != null" >
                KSS,
            </if>
            <if test="KG != null" >
                KG,
            </if>
            <if test="IM != null" >
                IM,
            </if>
            <if test="CI != null" >
                CI,
            </if>
            <if test="CG != null" >
                CG,
            </if>
            <if test="l != null" >
                L,
            </if>
            <if test="t != null" >
                T,
            </if>
            <if test="f != null" >
                F,
            </if>
            <if test="s0 != null" >
                S0,
            </if>
            <if test="FR0 != null" >
                FR0,
            </if>
            <if test="QRs0 != null" >
                QRs0,
            </if>
            <if test="QRss0 != null" >
                QRss0,
            </if>
            <if test="QRg0 != null" >
                QRg0,
            </if>
            <if test="CS != null" >
                CS,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="stcd != null" >
                #{stcd},
            </if>
            <if test="name != null" >
                #{name},
            </if>
            <if test="model != null" >
                #{model},
            </if>
            <if test="WU0 != null" >
                #{WU0},
            </if>
            <if test="WL0 != null" >
                #{WL0},
            </if>
            <if test="WD0 != null" >
                #{WD0},
            </if>
            <if test="WUM != null" >
                #{WUM},
            </if>
            <if test="WLM != null" >
                #{WLM},
            </if>
            <if test="WDM != null" >
                #{WDM},
            </if>
            <if test="b != null" >
                #{b},
            </if>
            <if test="k != null" >
                #{k},
            </if>
            <if test="c != null" >
                #{c},
            </if>
            <if test="SM != null" >
                #{SM},
            </if>
            <if test="EX != null" >
                #{EX},
            </if>
            <if test="KSS != null" >
                #{KSS},
            </if>
            <if test="KG != null" >
                #{KG},
            </if>
            <if test="IM != null" >
                #{IM},
            </if>
            <if test="CI != null" >
                #{CI},
            </if>
            <if test="CG != null" >
                #{CG},
            </if>
            <if test="l != null" >
                #{l},
            </if>
            <if test="t != null" >
                #{t},
            </if>
            <if test="f != null" >
                #{f},
            </if>
            <if test="s0 != null" >
                #{s0},
            </if>
            <if test="FR0 != null" >
                #{FR0},
            </if>
            <if test="QRs0 != null" >
                #{QRs0},
            </if>
            <if test="QRss0 != null" >
                #{QRss0},
            </if>
            <if test="QRg0 != null" >
                #{QRg0},
            </if>
            <if test="CS != null" >
                #{CS},
            </if>
            <if test="userId != null" >
                #{userId},
            </if>
            <if test="createTime != null" >
                #{createTime},
            </if>
        </trim>
    </insert>
    <update id="updateSelective" parameterType="gov.gz.hydrology.entity.write.Plan">
        update [plan]
        <set>
            <if test="stcd != null" > stcd = #{stcd},</if>
            <if test="name != null" > name = #{name},</if>
            <if test="model != null" > model = #{model},</if>
            <if test="WU0 != null" >
                WU0 = #{WU0},
            </if>
            <if test="WL0 != null" >
                WL0 = #{WL0},
            </if>
            <if test="WD0 != null" >
                WD0 = #{WD0},
            </if>
            <if test="WUM != null" >
                WUM = #{WUM},
            </if>
            <if test="WLM != null" >
                WLM = #{WLM},
            </if>
            <if test="WDM != null" >
                WDM = #{WDM},
            </if>
            <if test="b != null" >
                B = #{b},
            </if>
            <if test="k != null" >
                K = #{k},
            </if>
            <if test="c != null" >
                C = #{c},
            </if>
            <if test="SM != null" >
                SM = #{SM},
            </if>
            <if test="EX != null" >
                EX = #{EX},
            </if>
            <if test="KSS != null" >
                KSS = #{KSS},
            </if>
            <if test="KG != null" >
                KG = #{KG},
            </if>
            <if test="IM != null" >
                IM = #{IM},
            </if>
            <if test="CI != null" >
                CI = #{CI},
            </if>
            <if test="CG != null" >
                CG = #{CG},
            </if>
            <if test="l != null" >
                L = #{l},
            </if>
            <if test="t != null" >
                T = #{t},
            </if>
            <if test="f != null" >
                F = #{f},
            </if>
            <if test="s0 != null" >
                S0 = #{s0},
            </if>
            <if test="FR0 != null" >
                FR0 = #{FR0},
            </if>
            <if test="QRs0 != null" >
                QRs0 = #{QRs0},
            </if>
            <if test="QRss0 != null" >
                QRss0 = #{QRss0},
            </if>
            <if test="QRg0 != null" >
                QRg0 = #{QRg0},
            </if>
            <if test="CS != null" >
                CS = #{CS},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from [plan] where id = #{id}
    </delete>
</mapper>