<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.gz.hydrology.mapper.write.StationDao" >
	<resultMap id="BaseResultMap" type="gov.gz.hydrology.entity.write.Station" >
		<id column="stcd" property="stcd" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="stname" property="stname" jdbcType="VARCHAR" />
		<result column="dis" property="dis" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select * from station
		where stcd = #{stcd}
	</select>
	<select id="selectStationByType" resultMap="BaseResultMap">
		select * from station
		where type = #{type}
	</select>













	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ltc
    where ltc_id = #{ltcId,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="gov.gz.hydrology.entity.write.Station" >
    insert into ltc (ltc_id, ltc_level,
      ltc_yield, day_yield, vitality_yield, freeze_yield, vtb_price,
      update_user, update_time)
    values (#{ltcId,jdbcType=INTEGER}, #{ltcLevel,jdbcType=INTEGER},
      #{ltcYield,jdbcType=DECIMAL}, #{dayYield,jdbcType=DECIMAL}, #{vitalityYield,jdbcType=DECIMAL}, #{freezeYield,jdbcType=DECIMAL}, #{vtbPrice,jdbcType=DECIMAL},
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
	<insert id="insertSelective" parameterType="gov.gz.hydrology.entity.write.Station" >
		insert into ltc
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="ltcId != null" >
				ltc_id,
			</if>
			<if test="ltcLevel != null" >
				ltc_level,
			</if>
			<if test="ltcYield != null" >
				ltc_yield,
			</if>
			<if test="dayYield != null" >
				day_yield,
			</if>
			<if test="vitalityYield != null" >
				vitality_yield,
			</if>
			<if test="freezeYield != null" >
				freeze_yield,
			</if>
			<if test="vtbPrice != null" >
				vtb_price,
			</if>
			<if test="updateUser != null" >
				update_user,
			</if>
			<if test="updateTime != null" >
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="ltcId != null" >
				#{ltcId,jdbcType=INTEGER},
			</if>
			<if test="ltcLevel != null" >
				#{ltcLevel,jdbcType=INTEGER},
			</if>
			<if test="ltcYield != null" >
				#{ltcYield,jdbcType=DECIMAL},
			</if>
			<if test="dayYield != null" >
				#{dayYield,jdbcType=DECIMAL},
			</if>
			<if test="vitalityYield != null" >
				#{vitalityYield,jdbcType=DECIMAL},
			</if>
			<if test="freezeYield != null" >
				#{freezeYield,jdbcType=DECIMAL},
			</if>
			<if test="vtbPrice != null" >
				#{vtbPrice,jdbcType=DECIMAL},
			</if>
			<if test="updateUser != null" >
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="gov.gz.hydrology.entity.write.Station" >
		update ltc
		<set >
			<if test="ltcLevel != null" >
				ltc_level = #{ltcLevel,jdbcType=INTEGER},
			</if>
			<if test="ltcYield != null" >
				ltc_yield = #{ltcYield,jdbcType=DECIMAL},
			</if>
			<if test="dayYield != null" >
				day_yield = #{dayYield,jdbcType=DECIMAL},
			</if>
			<if test="vitalityYield != null" >
				vitality_yield = #{vitalityYield,jdbcType=DECIMAL},
			</if>
			<if test="freezeYield != null" >
				freeze_yield = #{freezeYield,jdbcType=DECIMAL},
			</if>
			<if test="vtbPrice != null" >
				vtb_price = #{vtbPrice,jdbcType=DECIMAL},
			</if>
			<if test="updateUser != null" >
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ltc_id = #{ltcId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="gov.gz.hydrology.entity.write.Station" >
    update ltc
    set ltc_level = #{ltcLevel,jdbcType=INTEGER},
      ltc_yield = #{ltcYield,jdbcType=DECIMAL},
      day_yield = #{dayYield,jdbcType=DECIMAL},
      vitality_yield = #{vitalityYield,jdbcType=DECIMAL},
      freeze_yield = #{freezeYield,jdbcType=DECIMAL},
      vtb_price = #{vtbPrice,jdbcType=DECIMAL},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where ltc_id = #{ltcId,jdbcType=INTEGER}
  </update>
</mapper>