<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.gz.hydrology.mapper.write.StationDao" >
	<resultMap id="BaseResultMap" type="gov.gz.hydrology.entity.write.Station" >
		<id column="stcd" property="stcd" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="stname" property="stname" jdbcType="VARCHAR" />
		<result column="dis" property="dis" jdbcType="VARCHAR" />
		<result column="wea" property="wea" jdbcType="VARCHAR" />
		<result column="file_cd" property="fileCd" jdbcType="VARCHAR" />
		<result column="jb_line" property="jbLine" jdbcType="INTEGER" />
		<result column="jj_line" property="jjLine" jdbcType="INTEGER" />
		<result column="user_stcd" property="userStcd" jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select * from station
		where stcd = #{stcd} and user_stcd = #{stcd}
	</select>
	<select id="selectStationByType" resultMap="BaseResultMap">
		select * from station
		where type = #{type}
	</select>
	<select id="selectChildStationByStcd" resultType="java.util.Map">
		select stcd, stname from station where user_stcd = #{stcd}
	</select>
</mapper>