<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.gz.hydrology.mapper.write.UserDao" >
	<resultMap id="BaseResultMap" type="gov.gz.hydrology.entity.write.User" >
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_psd" property="userPsd" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_level" property="userLevel" jdbcType="INTEGER" />
		<result column="user_time" property="userTime" jdbcType="INTEGER" />
		<result column="user_head" property="userHead" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select * from [user] where user_id = #{userId}
	</select>
	<insert id="insertSelective" parameterType="gov.gz.hydrology.entity.write.User" >
		insert into [user]
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="userId != null" >
				user_id,
			</if>
			<if test="userPsd != null" >
				user_psd,
			</if>
			<if test="userName != null" >
				user_name,
			</if>
			<if test="userLevel != null" >
				user_level,
			</if>
			<if test="userTime != null" >
				user_time,
			</if>
			<if test="userHead != null" >
				user_head,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="userId != null" >
				#{userId},
			</if>
			<if test="userPsd != null" >
				#{userPsd},
			</if>
			<if test="userName != null" >
				#{userName},
			</if>
			<if test="userLevel != null" >
				#{userLevel},
			</if>
			<if test="userTime != null" >
				#{userTime},
			</if>
			<if test="userHead != null" >
				#{userHead},
			</if>
		</trim>
	</insert>








	<select id="selectAllTrees" resultMap="BaseResultMap">
  	select * from ltc
  </select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ltc
    where ltc_id = #{ltcId,jdbcType=INTEGER}
  </delete>
	<insert id="insert" parameterType="gov.gz.hydrology.entity.write.Station" >
    insert into ltc (ltc_id, ltc_level,
      ltc_yield, day_yield, vitality_yield, freeze_yield, vtb_price,
      update_user, update_time)
    values (#{ltcId,jdbcType=INTEGER}, #{ltcLevel,jdbcType=INTEGER},
      #{ltcYield,jdbcType=DECIMAL}, #{dayYield,jdbcType=DECIMAL}, #{vitalityYield,jdbcType=DECIMAL}, #{freezeYield,jdbcType=DECIMAL}, #{vtbPrice,jdbcType=DECIMAL},
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>

	<update id="updateByPrimaryKeySelective" parameterType="gov.gz.hydrology.entity.write.Station" >
		update ltc
		<set >
			<if test="ltcLevel != null" >
				ltc_level = #{ltcLevel,jdbcType=INTEGER},
			</if>
			<if test="ltcYield != null" >
				ltc_yield = #{ltcYield,jdbcType=DECIMAL},
			</if>
			<if test="dayYield != null" >
				day_yield = #{dayYield,jdbcType=DECIMAL},
			</if>
			<if test="vitalityYield != null" >
				vitality_yield = #{vitalityYield,jdbcType=DECIMAL},
			</if>
			<if test="freezeYield != null" >
				freeze_yield = #{freezeYield,jdbcType=DECIMAL},
			</if>
			<if test="vtbPrice != null" >
				vtb_price = #{vtbPrice,jdbcType=DECIMAL},
			</if>
			<if test="updateUser != null" >
				update_user = #{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null" >
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ltc_id = #{ltcId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="gov.gz.hydrology.entity.write.Station" >
    update ltc
    set ltc_level = #{ltcLevel,jdbcType=INTEGER},
      ltc_yield = #{ltcYield,jdbcType=DECIMAL},
      day_yield = #{dayYield,jdbcType=DECIMAL},
      vitality_yield = #{vitalityYield,jdbcType=DECIMAL},
      freeze_yield = #{freezeYield,jdbcType=DECIMAL},
      vtb_price = #{vtbPrice,jdbcType=DECIMAL},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where ltc_id = #{ltcId,jdbcType=INTEGER}
  </update>
</mapper>