<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.gz.hydrology.mapper.write.UserDao" >
	<resultMap id="BaseResultMap" type="gov.gz.hydrology.entity.write.User" >
		<id column="user_id" property="userId" jdbcType="VARCHAR" />
		<result column="user_psd" property="userPsd" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_level" property="userLevel" jdbcType="INTEGER" />
		<result column="user_time" property="userTime" jdbcType="INTEGER" />
		<result column="user_head" property="userHead" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap">
		select * from [user] where user_id = #{userId}
	</select>
	<insert id="insertSelective" parameterType="gov.gz.hydrology.entity.write.User" >
		insert into [user]
		<trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="userId != null" >
				user_id,
			</if>
			<if test="userPsd != null" >
				user_psd,
			</if>
			<if test="userName != null" >
				user_name,
			</if>
			<if test="userLevel != null" >
				user_level,
			</if>
			<if test="userTime != null" >
				user_time,
			</if>
			<if test="userHead != null" >
				user_head,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="userId != null" >
				#{userId},
			</if>
			<if test="userPsd != null" >
				#{userPsd},
			</if>
			<if test="userName != null" >
				#{userName},
			</if>
			<if test="userLevel != null" >
				#{userLevel},
			</if>
			<if test="userTime != null" >
				#{userTime},
			</if>
			<if test="userHead != null" >
				#{userHead},
			</if>
		</trim>
	</insert>
	<update id="updateSelective" parameterType="gov.gz.hydrology.entity.write.User">
		update [user]
		<set>
			<if test="userPsd != null"> user_psd = #{userPsd},</if>
			<if test="userName != null"> user_name = #{userName},</if>
			<if test="userLevel != null"> user_level = #{userLevel},</if>
			<if test="userTime != null"> user_time = #{userTime},</if>
			<if test="userHead != null"> user_head = #{userHead} </if>
		</set>
		where user_id = #{userId}
	</update>
</mapper>