<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gov.gz.hydrology.mapper.read.RainfallDao" >
	<resultMap id="BaseResultMap" type="gov.gz.hydrology.entity.read.Rainfall" >
		<id column="stcd" property="stcd" jdbcType="VARCHAR" />
        <result column="date" property="date"/>
        <result column="rainfall" property="rainfall"/>
	</resultMap>

	<select id="selectRainfallTotal" resultMap="BaseResultMap">
		select top 10 stcd, sum(drp) as rainfall from st_pptn_r
		<!--where CONVERT(varchar(100), tm, 23) = CONVERT(varchar(100), GETDATE(), 23)-->
        where CONVERT(varchar(100), tm, 23) = '2018-06-20'
        and stcd in
		<foreach collection="list" item="stcd" index="index" open="(" close=")" separator=",">
			#{stcd}
		</foreach>
		group by stcd
        order by sum(drp) desc
    </select>

    <select id="selectRainfallDaily" resultMap="BaseResultMap">
        select CONVERT(varchar(100), dateadd(day, -1, tm), 101) as date, sum(drp)/count(drp) as rainfall from st_pptn_r
        <!--where CONVERT(varchar(100), tm, 23) >= CONVERT(varchar(100), dateadd(day, -5, getdate()), 23)-->
        where CONVERT(varchar(100), tm, 23) >= '2018-06-18'
        and stcd in
        <foreach collection="list" item="stcd" index="index" open="(" close=")" separator=",">
            #{stcd}
        </foreach>
        group by CONVERT(varchar(100), dateadd(day, -1, tm), 101)
        order by CONVERT(varchar(100), dateadd(day, -1, tm), 101) asc
    </select>

    <select id="selectRainfallRange" resultMap="BaseResultMap">
        select tm as date, avg(drp) as rainfall from st_pptn_r
        where tm >= #{affectTime} and #{forecastTime} >= tm
        and stcd in
        <foreach collection="list" item="stcd" index="index" open="(" close=")" separator=",">
            #{stcd}
        </foreach>
        group by tm
        order by tm asc
    </select>
</mapper>